{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans 'Django Master' %}</title>

    <link rel="stylesheet" href="{% static 'djangomaster/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'djangomaster/css/plugins/metisMenu/metisMenu.min.css' %}" />
    <link rel="stylesheet" href="{% static 'djangomaster/css/sb-admin-2.css' %}" />
    <link rel="stylesheet" href="{% static 'djangomaster/font-awesome/css/font-awesome.min.css' %}" />

    <style>
        [v-cloak]{ visibility: hidden; }
        .footer:empty { display: none; }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include 'djangomaster/includes/top_nav.html' %}
            {% include 'djangomaster/includes/side_menu.html' %}
        </nav>

        <div id="page-wrapper" class="clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block page_title %}{{ title }}{% endblock %}</h1>
                </div>
            </div>

            {% comment %}
            <div id="widgets">
                {% block widgets %}
                    {% for widget in widgets %}
                        {{ widget.render }}
                    {% endfor %}
                {% endblock %}
            </div>
            {% endcomment %}

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            {% if footer %}
            <div id="footer" class="panel panel-default clearfix">
                <div class="panel-body">{{ footer|safe }}</div>
            </div>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'djangomaster/js/jquery.js' %}"></script>
    <script src="{% static 'djangomaster/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'djangomaster/js/plugins/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'djangomaster/js/sb-admin-2.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
